* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



/** Navbar */
.nav {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  background-color: #222;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height:70px;
}
  
.container {
  max-width: 1200px;
  margin: 0 auto;
}
  
.nav .container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
  
.nav a {
  color: #fff;
  text-decoration: none;
}
  
.nav ul {
  display: flex;
  list-style-type: none;
}
  
.nav li {
  padding: 7px 15px;
}
  
  
  
/** Sidenav*/
.sidenav {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #ffca00;
  color: white;
  height: 100%;
  width: 100px;
  padding: 10px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  text-align: center;
}

.sidenav li {
  padding-top: 50px;
  list-style-type: none;
}

.sidenav a {
  font-size: 17px;
  color: #ff005a;
  text-decoration: none;
}
  
  
  
/** Sidebar*/
.object-details {
  background-color: #f2f2f2;
  width: 25%;
}
  
.sidebar
{
  background-color: #f9f9f9;
  position: sticky;
  overflow: auto;
  padding: 15px;
  margin: 15px;
  height: 550px;
  top: 15%;
}

.details-name {
  font-size: 1rem;
  padding-bottom: 10px;
}

.details-img {
  width: 100px;
  height: 100px;
}
  
.details-type {
  color: #fff;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  width: 90px;
  text-align: center;
}

.details-container {
  padding-top: 20px;
}

.details-title {
  padding-bottom: 10px;
}
  
.details-ability {
  color: black;
  background-color: #fff;
  width: 100px;
  padding: 5px;
}
  
.details-stats {
  width: 200px;
}
  
.details-stat {
  border-bottom: 1px solid rgb(0, 0, 0);
}
  
  
  
/** Content*/
.main-container {
  background-image: url('../images/pokemon.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  padding-top: 400px;
  padding-bottom: 150px;
  padding-left: 10em;
  padding-right: 10em;
}
  
.resizable-container {
  background-color: #fff;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 75%;
}

.main-text {
  padding-bottom: 50px;
}
  
.main-text h3 {
  font-size: 30px;
  padding-bottom: 10px;
}
  
.main-text p {
  padding-top: 5px;
}
  

/** Table  */
.main-table {
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
  text-align: left;
  max-width: 700px;
  width: 100%;
}

.main-table tr {
  border-bottom: 1px solid #E3F1D5;
}

.main-table tr th {
  background-color: #454545;
  color: #fff;
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.main-table tr td {
  background-color: #fff;
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}


/** Pokemon */
.pokemon-img {
  width: 100px;
  height: 100px;
}

.pokemon-type {
  color: #fff;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  text-align: center;
}
  
.pokemon-btn {
  background-color: #666666;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  padding: 10px;
}


/** Item */
.item-img {
  width: 50px;
  height: 50px;
}

.item-category {
  text-align: center;
}

.item-btn {
  background-color: #666666;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  padding: 10px;
}

/** Berry */
.berry-img {
  width: 100px;
  height: 100px;
}

.berry-btn {
  background-color: #666666;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  padding: 10px;
}
  
/** Footer */
.footer {
  background-color: #222;
  color: #fff;
  width: 100%;
  padding: 3rem;
  left: 0;
  bottom: 0;
  text-align: center;
}

/*
@media screen and (max-width: 1400px)  {
  .main-container {
    padding-left: 200px;
    padding-right: 200px;
  }
}
*/