@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;400&display=swap');

* {
  font-family: 'Roboto', 'sans-serif';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




/** Navbar */
.nav {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  background-color: #222;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height:70px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav ul {
  display: flex;
  list-style-type: none;
}

.nav li {
  padding: 7px 15px;
}



/** Sidenav*/
.sidenav {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #ffca00;
  color: white;
  height: 100%;
  width: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 10px;
}



/** Sidebar*/
.item-details {
  background-color: #f2f2f2;
  width: 25%;
}

.sidebar
{
  background-color: #f9f9f9;
  position: sticky;
  overflow: auto;
  padding: 15px;
  height: 500px;
  top: 15%;
}

.details-type {
  color: #fff;
  text-align: center;
  width: 70px;
  padding: 5px;
  border-radius: 5px;
} 

.details-ability {
  color: black;
  background-color: #fff;
  width: 100px;
  padding: 5px;
}

.details-stats {
  width: 200px;
} 

.details-stat {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.details-container {
  padding-top: 20px;
}

.details-title {
  padding-bottom: 10px;
}


/** Content*/
.main-container {
  background-image: url('../images/pokemon.png');
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  padding-top: 400px;
  padding-bottom: 150px;
  padding-left: 300px;
  padding-right: 300px;
}

.resizable-container {
  background-color: #fff;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 75%;
}

.main-text {
  padding-bottom: 50px;
}

.main-text h3 {
  font-size: 30px;
  padding-bottom: 10px;
}

.main-text p {
  padding-top: 5px;
}


/** Table */
.item-container {
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
  text-align: left;
  max-width: 600px;
  width: 100%;
}

.item-container tr {
  border-bottom: 1px solid #E3F1D5;
}

.item-container tr th {
  background-color: #454545;
  color: #fff;
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.item-container tr td {
  background-color: #fff;
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.item-category {
  text-align: center;
}

.item-btn {
  background-color: #666666;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  padding: 10px;
}

/** Footer */
.footer {
  background-color: #222;
  color: #fff;
  width: 100%;
  padding: 3rem;
  left: 0;
  bottom: 0;
  text-align: center;
}

@media screen and (max-width: 600px)  {
  .main-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}