* {
    box-sizing: border-box;
  }
  
  body {
    background: #ffffff;
    background: linear-gradient(to right, #d4d3dd);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  
  h1 {
    letter-spacing: 3px;
  }
  
  .berry-container {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .berry {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 10px;
    width: 240px;
    text-align: center;
  }
  
  .berry .img-container {
    background-color: rgba(255, 255, 255, 0.6);
    height: 120px;
    text-align: center;
  }
  
  .berry .img-container img {
    max-width: 90%;
    margin-top: 20px;
  }
  
  .berry .info {
    margin: 20px;
  }
  
  .berry .info .number {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.8em;
  }
  
  .berry .info .name {
    margin: 15px 0 7px;
    letter-spacing: 1px;
  }