* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-bottom: 50px;
}



/** Navbar */
.nav {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  background-color: #222;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height:70px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav ul {
  display: flex;
  list-style-type: none;
}

.nav li {
  padding: 7px 15px;
}



/** Sidenav*/
.sidenav {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #ffca00;
  color: white;
  height: 100%;
  width: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 10px;
}



/** Sidebar*/
.pokemon-details {
  background-color: #f2f2f2;
  width: 25%;
}

.sidebar
{
  background-color: #f9f9f9;
  position: sticky;
  overflow: auto;
  padding: 15px;
  height: 500px;
  top: 15%;
}

.details-type {
  color: #fff;
  text-align: center;
  width: 70px;
  padding: 5px;
  border-radius: 5px;
}

.details-ability {
  color: black;
  background-color: #fff;
  width: 100px;
  padding: 5px;
}

.details-stats {
  width: 200px;
}

.details-stat {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.details-container {
  padding-top: 20px;
}

.details-title {
  padding-bottom: 10px;
}


/** Content*/
.main-container {
  background-image: url('../images/pokemon.png');
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  padding-top: 800px;
  padding-left: 300px;
  padding-right: 300px;
}

.resizable-container {
  background-color: #fff;
  padding: 20px;
  width: 75%;
}


/** Table */
.pokemon-table {
  border: 1px solid black;
  width: 500px;
}

.pokemon-table-header {
  background-color: #f2f2f2;
}

.pokemon-table tr {
  text-align: center;
}

.pokemon-name {

}

.pokemon-type {
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  text-align: center;
}

.pokemon-btn {
  background-color: rgb(56, 188, 221);
  color: white;
  text-decoration: none;
  border: 0px solid black;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
}

@media screen and (max-height: 450px)  {}